body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #1b1b1b;

}

html {
    height: 100%
}
.flexbox-container{
    display: flex;
}

a{
    text-decoration: none;
}

h3{
    font-family: 'Fjalla One';
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}

h4{
    font-family: 'Fjalla One';
    font-size:  25px;
    margin: 15px 0 15px;
}

/* ============================ */
            Header Footer
/* ============================ */

header{
    border-bottom: 1px solid #e2e2e2;
}
header a{
    color: #fff;
}

header, footer{
    background: #1f1f1f;
    align-items: center;
    padding:  10px;
    font-size: 17px;
    font-family: 'Fjalla One';
}

header .logo,
footer .logo{
    flex-grow: 1;
    height: 22px;
}

header .logo span, footer .logo span{
    background: url('/images/logo.png') no-repeat;
    display:  inline-block;
    width: 58px;
    height: 24px;
}

footer{
    background: #1f1f1f;
    margin-top: 30px;
}

.spinner{
    display: flex;
    align-items: center;
    align-content: center;
}

/* ============================ */
            Subscriber
/* ============================ */
.subParent{
    display: flex;
    
    align-items: center;
}
.subscribe{
    width: 350px;
    margin: 0 auto;
}
.subscribe h3{
    text-align: center;
    font-family: 'Fjalla One';
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}
.subscribe input{
    align-self: center;
    border-radius: 20px;
    border: 3px solid #ddd;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    margin: 10px 0;
}
.subscribe input:focus{
    outline-width: 0;
    align-self: center;
}
.subscribe small{
    
    align-self: center;
    font-size: 10px;
    line-height: 0px;
}


/* ============================ */
Blocks 
/* ============================ */
 .homeBlocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
} 
 .item{
    flex-grow: 1;
    position: relative;
    height: 270px;
    overflow: hidden;
}
  .lg{
    width: 50%;
    
}
 .md{
    width: 30%;
    
}
 .sm{
    width: 20%;
    
}
.item .image{
    height: 270px;
    width: 100%;
    background-size: cover !important;
    background-position: top center !important;
}
.item .title{
    background: black;
    padding: 10px;
    transition: all 500ms ease-in-out;
}
 .item:hover .title{
    transform: translate(0px, -39px);
    transition: all 500ms ease-in-out;
}
 .item .title a{
    color: #fff;
}
 
.item .veil{
    background-color: #000;
    opacity: .7;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    transition: all 500ms ease-in-out;   
}
.item:hover .veil{
    opacity: 0;
    transition: all 500ms ease-in-out; 
}