body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #1b1b1b;

}

html {
    height: 100%
}
.flexbox-container{
    display: flex;
}

a{
    text-decoration: none;
}

h3{
    font-family: 'Fjalla One';
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}

h4{
    font-family: 'Fjalla One';
    font-size:  25px;
    margin: 15px 0 15px;
}

/* ============================ */
            Header Footer
/* ============================ */

header{
    border-bottom: 1px solid #e2e2e2;
}
header a{
    color: #fff;
}

header, footer{
    background: #1f1f1f;
    align-items: center;
    padding:  10px;
    font-size: 17px;
    font-family: 'Fjalla One';
}

header .logo,
footer .logo{
    flex-grow: 1;
    height: 22px;
}

header .logo span, footer .logo span{
    background: url('/images/logo.png') no-repeat;
    display:  inline-block;
    width: 58px;
    height: 24px;
}

footer{
    background: #1f1f1f;
    margin-top: 30px;
}

.spinner{
    display: flex;
    align-items: center;
    align-content: center;
}

/* ============================ */
            Subscriber
/* ============================ */
.subParent{
    display: flex;
    
    align-items: center;
}
.subscribe{
    width: 350px;
    margin: 0 auto;
}
.subscribe h3{
    text-align: center;
    font-family: 'Fjalla One';
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}
.subscribe input{
    align-self: center;
    border-radius: 20px;
    border: 3px solid #ddd;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    margin: 10px 0;
}
.subscribe input:focus{
    outline-width: 0;
    align-self: center;
}
.subscribe small{
    
    align-self: center;
    font-size: 10px;
    line-height: 0px;
}


/* ============================ */
            Blocks 
/* ============================ */
 .homeBlocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
} 
 .item{
    flex-grow: 1;
    position: relative;
    height: 270px;
    overflow: hidden;
}
  .lg{
    width: 50%;
    
}
 .md{
    width: 30%;
    
}
 .sm{
    width: 20%;
    
}
.item .image{
    height: 270px;
    width: 100%;
    background-size: cover !important;
    background-position: top center !important;
}
.item .title{
    background: black;
    padding: 10px;
    transition: all 500ms ease-in-out;
}
 .item:hover .title{
    transform: translate(0px, -39px);
    transition: all 500ms ease-in-out;
}
 .item .title a{
    color: #fff;
}
 
.item .veil{
    background-color: #000;
    opacity: .7;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    transition: all 500ms ease-in-out;   
}
.item:hover .veil{
    opacity: 0;
    transition: all 500ms ease-in-out; 
}


/* ============================ */
            Polls
/* ============================ */
.homePoll{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.homePoll h3{
    text-align: center;
}
.pollContainer{
    display: flex;
}

.pollContainer .pollItem{
    padding: 20px;
    flex-grow: 1;
    text-align: center;
}
.pollContainer .pollItem img{
    width: 80%;
    cursor: pointer;
}

.pollContainer .pollItem div{
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;

}


/* ============================ */
            Teams
/* ============================ */
.teamsComponent{
    min-height: 800px;
}
.teamsInput{
    text-align: center;
    padding: 20px 0;
    background: #e6e6e6;
}
.teamsInput input{
    font-family: 'Roboto';
    border-radius: 30px;
    border: 1px solid lightgray;
    color: #000;
    font-size: 20px;
    padding: 10px;
    font-weight: 300;
    text-align: center;
}
.teamsInput input:focus{
    outline: none;
}
.teamsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0 100px 0;
}
.teamsContainer .teamItem{
    width: 25%;
    box-sizing: border-box;
}
.teamsContainer .teamItem img{
    width: 190px;
    margin: 30px;
}

/* ============================ */
        Single Team
/* ============================ */
.teamDataWrapper{
    display: flex;
}
.teamDataWrapper .left{
    box-sizing: border-box;
    padding: 80px 20px;
}
.teamDataWrapper .right{
    flex-grow: 1;
    box-sizing: border-box;
    border-left: 1px solid #b9b9b9;
    padding: 0px 20px;
}
.teamDataWrapper .left img{
    width: 150px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .7);
    border-radius: 50%;
    padding: 20px;
}
.teamDataWrapper h1{
    color: #6d6d6d;
}
.teamDataWrapper .squad{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.teamDataWrapper .squad .item{
    position: relative;
    width: 25%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    margin: 25px;
    
    border-radius: 20px;
    flex-grow: unset;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, .3)
}

.teamDataWrapper .squad .item h4{
    color: #006bb6;
}
.teamDataWrapper .squad .item img{
    width:  40%;
    display: block;
    margin: 0 auto;
}
.teamDataWrapper .squad .item .node{
    font-size: 14px;
    padding: 4px 0;
}
.teamDataWrapper .squad .item .node span{
    font-weight: 600;
}
