/* ============================ */
Blocks 
/* ============================ */
 .homeBlocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
} 
 .item{
    flex-grow: 1;
    position: relative;
    height: 270px;
    overflow: hidden;
}
 .item .lg{
    width: 50%;
}
.item .md{
    width: 30%;
}
.item .sm{
    width: 20%;
}
.item .image{
    height: 270px;
    width: 100%;
    background-size: cover !important;
    background-position: center center !important;
}
.item .title{
    background: black;
    padding: 10px;
    transition: all 500ms ease-in-out;
}
 .item:hover .title{
    transform: translate(0px, -39px);
    transition: all 500ms ease-in-out;
}
 .item .title{
    color: #fff;
}
 .item .lg{
    animation-delay: 200ms;
}
 .item .md{
    animation-delay: 500ms;
}
 .item .sm{
    animation-delay: 800ms;
}